<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arrowwould.workout.man">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.arrowwould.workout.man.utils.AppControl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_main_id" />

        <activity
            android:exported="true"
            android:name="com.arrowwould.workout.man.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.arrowwould.workout.man.activity.GetStartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme_Workoutlist"/>
        <activity
            android:name="com.arrowwould.workout.man.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar2"
            />
        <activity
            android:name="com.arrowwould.workout.man.activity.WorkoutListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Workoutlist"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.arrowwould.workout.man.activity.WorkoutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBarWhite"/>
        <activity
            android:name="com.arrowwould.workout.man.activity.CompletedActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.activity.WorkoutListDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBarWhite"/>
        <activity
            android:name="com.arrowwould.workout.man.activity.NextPrevDetailsWorkoutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBarWhite"/>
        <activity
            android:name="com.arrowwould.workout.man.activity.HealthDataActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.settings.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.report.ReportActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBarReport" />
        <activity
            android:name="com.arrowwould.workout.man.history.HistoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.reminder.ReminderActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.activity.MetricActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.activity.DaysStatusActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.bw.BuildWiderActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme_Workoutlist"/>
        <activity
            android:name="com.arrowwould.workout.man.bw.BuildWiderWorkoutListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Workoutlist"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.arrowwould.workout.man.activity.LibraryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeStatusBar" />
        <activity
            android:name="com.arrowwould.workout.man.activity.WeeklyGoalSetActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeFullScreen" />

        <receiver
            android:exported="false"
            android:name="com.arrowwould.workout.man.reminder.MyBroadcastReceiver"
            android:enabled="true" />


        <receiver
            android:name="com.arrowwould.workout.man.reminderNew.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:exported="false"
            android:name="com.arrowwould.workout.man.reminderNew.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.arrowwould.workout.man.pushnotification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>




        <!--<receiver
            android:name=".reminder.OnBootReceiver"
            android:enabled="true" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter >
        </receiver >-->
    </application>

</manifest>
